<%= form_for(@message, :html => { :multipart => true }) do |f| %>
  <%= form_errors! @message %>

  <div class="field required">
    <%= f.label :name, :class => "required" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field required">
    <%= f.label :message, :class => "required"  %><br />
    <%= f.text_area :message %>
  </div>
  <% if ["new", "create"].include? params[:action] %>
    <div class="field verification" style="display:none;">
      <%= f.label :verification %><br/>
      <%= f.text_field :verification %>
    </div>
  <% end %>
  <div class="actions">
    <%= button_tag (action_name == "new" ? 'Poster le message' : 'Modifier le message') %>
  </div>
<% end %>
