<div id="message_<%= message.id %>" class="message">
  <table>
    <tr>
      <td class="image">
        <%= image_tag message.image.url(:small) %>
      </td>
      <td>
        <strong><%= message.name %></strong><br/>
        <%= message.message.gsub("\n", "<br/>").html_safe %>
      </td>
    </tr>
    <% if admin_signed_in? %>
      <tr>
        <td>&nbsp;</td>
        <td><%= link_to 'Modifier', edit_message_path(message) %> | <%= link_to 'Supprimer', message, :confirm => 'En êtes-vous sûre?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>