<%
  title = "Le livre d'or"
  content_for :title, title
  content_for :page_title, " - "+title+(params[:page] ? " - Page #{params[:page]}":"")
%>
<div id="messages">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div>
          <%= link_to 'Laissez votre message', new_message_path, :class => "add_message" %>
          <div id="text2">
            <table class="title">
              <tr>
                <td class="corner_top_left"></td>
                <td class="text" rowspan="2" >
                  Les témoignages de ceux qui m'ont fait confiance
                </td>
                <td class="corner_top_right"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <div class="content_container">
              <%= render :collection => @messages, :partial => "message" %>
              <%= paginate @messages %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

