<%= content_for :title do %>
  Laisser un message
<% end %>
<%= content_for :page_title do " - Le livre d'or - Laissez un message" end %>
<div id="new_message">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div>
          <h1>Laissez un message</h1>
          <div class="form">
            <br/>
            <%= render 'form' %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
