#home {
  position:relative;
  min-height:520px;
  div.pictures {
    position:absolute;
    top: 20px;
    left:0px;
    background:url(/assets/home/pictures.png) no-repeat 15px 0px;
    padding:29px 32px 0px 2px;
    text-align:center;
    & > div {
      position:relative;
      width:215px;
      height:173px;
      div.camera {
        background:url(/assets/home/camera.png) no-repeat;
        position:absolute;
        width:93px;
        height:105px;
        top:58px;
        left:147px;
      }
      a.link div.title {
        position:absolute;
        top:165px;
        width:100%;
        text-align:center;
      }
      a.link:hover div.title { text-decoration:underline; }
    }
  }
  a.movies {
    display:block;
    position:absolute;
    top: 265px;
    left:0px;
    background:url(/assets/home/movies.png) no-repeat 15px 0px;
    width:215px;
    height:38px;
    padding-right:32px;
    padding-top:193px;
    text-align:center;
  }
  #text1 {
    width:380px;
    margin:auto;
  }

  div.guestbook {
    position:absolute;
    top: 20px;
    right:-20px;
    background:top center url(/assets/home/guestbook.png) no-repeat;
    width:259px;
    height:263px;
    & > div {
      position:relative;
    }
    div.author {
      position:absolute;
      top:49px;
      left:34px;
      width:158px;
      text-align:center;
    }
    div.message {
      position:absolute;
      top:73px;
      left:29px;
      width:170px;
      height:85px;
      overflow:hidden;
      line-height:17px;
    }
    a.more {
      position:absolute;
      top:140px;
      right:60px;
      background:#ffffff;
      text-align:center;
      padding-left:3px;
    }
    a.link {
      position:absolute;
      top:166px;
      left:32px;
      width:160px;
      text-align:center;
    }
  }

  div.facebook {
    position:absolute;
    top:300px;
    right:-20px;
    background:url(/assets/home/facebook.png) no-repeat;
    width:250px;
    height:175px;
    > div {
      position:relative;
    }
    div.text {
      height:100px;
      left:25px;
      overflow: hidden;
      position: absolute;
      top:46px;
      width:120px;
      text-align:center;
      line-height:17px;
    }
    a {
      background:url(/assets/home/button_facebook.png) no-repeat;
      position:absolute;
      top:120px;
      left:80px;
      width:130px;
      height:50px;
      line-height:32px;
      padding-left:55px;
      font-weight:normal;
    }
  }
}

