<%
  title = "La société"
  content_for :title, title
  content_for :page_title, " - "+title
%>
<div id="company">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div id="text1">
          <%= free_text "company_title", :class_restriction => "title" %>
          <div class="text">
            <%= free_text "company", :class_restriction => "content" %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>