<%
  title = "Contact"
  content_for :title, title
  content_for :page_title, " - "+title
%>
<div id="contact">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div>
          <div id="text2">
            <table class="title">
              <tr>
                <td class="corner_top_left"></td>
                <td class="text" rowspan="2" >
                  Contactez-moi
                </td>
                <td class="corner_top_right"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <div class="content_container">
              <div class="infos">
                <div class="letters">
                  <%= image_tag "contact/letters.png", :align => "left" %>
                  <div>&nbsp;</div>
                  <%= free_text "contact_letters", :class_restriction => "content" %>
                </div>
                <div class="phone">
                  <%= image_tag "contact/phone.png", :align => "left" %>
                  <div>&nbsp;</div>
                  <%= free_text "contact_phone", :class_restriction => "content" %>
                </div>
                <div class="form">
                  <%= link_to (image_tag "contact/forms.png", :align => "left"), "/assets/contact/formulaire.pdf", :target => "_blank" %>
                  <div>&nbsp;</div>
                  <%= free_text "contact_form", :class_restriction => "content" %>
                </div>
                <div class="clear"></div>
              </div>
              <%= form_for(@contact_form, :url => contact_path) do |f| %>
                <h2>Envoyez-moi un email (larchedejeanlouis@gmail.com)</h2>
                <%= form_errors!(@contact_form) %>
                <%= content_tag :div, flash[:contact_form_success], :id => "contact_form_success" if flash[:contact_form_success] %>
                <div class="field">
                  <%= f.label :email %>
                  <%= f.email_field :email, :required => "required" %>
                </div>
                <div class="field">
                  <%= f.label :subject %>
                  <%= f.text_field :subject, :required => "required" %>
                </div>
                <div class="field">
                  <%= f.label :message, "Message" %>
                  <%= f.text_area :message, :required => "required" %>
                </div>
                <div class="field verification" style="display:none;">
                  <%= f.label :verification, "Verification"%><br/>
                  <%= f.text_field :verification %>
                </div>
                <div class="actions">
                  <%= f.submit "Envoyer" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>