<%
  title = "Bienvenue !"
  content_for :title, title
  content_for :page_title, " - "+title
%>
<div id="home">
  <div class="pictures">
    <div>
      <% if @pictures.first %>
        <%= link_to "", :class => "link", :id => "image_link" do %>
          <%= image_tag "", :id => "image_img" %><br/>
          <div class="title" id="image_title"></div>
        <% end %>
        <script type="text/javascript">
          pictures = <%= @pictures.to_json.html_safe %>;
          base_link = "<%= pictures_path %>";
          var length = length(pictures);
          var i = 0;

          change();
          
          function change() {
            $("#image_link").attr("href", base_link+"#text2");
            $("#image_title").html(pictures[i]["title"]);
            //$("#image_img").fadeOut(100).attr("src", pictures[i]["url"]).hide().fadeIn(100);
            $("#image_img").attr("src", pictures[i]["url"]);
            if(i == length-1) i = 0;
            else i++;
            setTimeout("change()",3000);
          }

          function length(array) {
            length = 0;
            for (var object in array) {
              length++;
            }
            return length;
          }
          
        </script>
      <% end %>
      <div class="camera"></div>
    </div>
  </div>
  <div id="text1">
    <%= free_text "index_title", :class_restriction => "title" %>
    <div class="text">
      <%= free_text "index", :class_restriction => "content" %>
    </div>
  </div>
  <div class="guestbook">
    <div>
      <% if @message %>
        <div class="author"><%= @message.name %></div>
        <div class="message"><%= @message.message %></div>
        <%= link_to "[suite...]", messages_path(:anchor => "message_#{@message.id}"), :class => "more" %>
        <%= link_to "Laisser un message", new_message_path, :class => "link" %>
      <% end %>
    </div>
  </div>

  <%= link_to "En plein travail", movies_path, :class => "movies" %>

  <div class="facebook">
    <div>
      <div class="text">
        L'arche de<br/>
        Jean Louis est<br/>
        sur Facebook.<br/>
        Rejoignez-nous!
      </div>
      <%= link_to "Rejoindre", "http://www.facebook.com/#!/pages/LArche-de-Jean-Louis-Educateur-Canin-Comportementaliste-dans-le-06/362746083774450" %>
    </div>
  </div>
</div>