<%
  title = "Mentions légales"
  content_for :title, title
  content_for :page_title, " - "+title
%>
<div id="legal_notice">
  <%= free_text "legal_notice_content", :class_restriction => "content" %>
</div>