<%
  title = "Taxi animalier"
  content_for :title, title
  content_for :page_title, " - Les services - "+title
%>
<div id="pet_taxi">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div id="text2" class="right">
          <div class="image">
            <%= image_tag "services/pet_taxi/image.png" %>
          </div>
          <table class="title">
            <tr>
              <td class="corner_top_left"></td>
              <td></td>
              <td class="corner_top_right"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text">
                Vous ne pouvez vous deplacer, vous n'êtes pas vehiculé ou n'avez pas le temps nécessaire ?
              </td>
              <td></td>
            </tr>
          </table>
          <div class="content_container">
            <div class="content">
              <%= free_text "pet_taxi_content", :class_restriction => "content" %>
              <div class="rates">
                <%= free_text "pet_taxi_rates_content", :class_restriction => "content" %>
                <table>
                  <tr>
                    <td class="left"></td>
                    <td class="center">&nbsp;</td>
                    <td class="right"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>