<%
  title = "Les services"
  content_for :title, title
  content_for :page_title, " - "+title
%>
<div id="services">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div>
          <%= link_to home_visit_path, :class => "home_visit" do %>
            <div class="text">Visite à domicile</div>
            <%= image_tag "services/home_visit.png" %>
          <% end %>
          <%= link_to pet_taxi_path, :class => "pet_taxi" do %>
            <div class="text">Taxi animalier</div>
            <%= image_tag "services/pet_taxi.png" %>
          <% end %>
          <%= link_to dog_trainer_path, :class => "dog_trainer" do %>
            <div class="text">Educateur</div>
            <div class="subtext top">comportementaliste</div>
            <%= image_tag "services/dog_trainer.png" %>
            <div class="subtext bottom">diplomé</div>
          <% end %>
          <%= link_to dog_walk_path, :class => "dog_walk" do %>
            <div class="text">Promenade canine</div>
            <%= image_tag "services/dog_walk.png" %>
          <% end %>
          <%= link_to dog_sitting_path, :class => "dog_sitting" do %>
            <div class="text">Pension canine</div>
            <%= image_tag "services/dog_sitting.png" %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>