#pictures {
  #text2 {
    position:relative;
    #search {
      position:absolute;
      text-align:center;
      right:15px;
      top:5px;
      color:white;
      #picture_search {
        background:url(/assets/pictures/search.png) no-repeat;
        width:171px;
        height:20px;
        input[type='text'] {
          width:135px;
          border:0px;
          margin-left:10px;
          &:focus { outline:none; }
        }
        a {
          display:inline-block;
          width:25px;
          height:20px;
          &:hover { text-decoration:none; }
        }
      }
    }
  }
  div.content_container {
    min-height:450px;
    div.content {
      width:100%;
      div.picture {
        width:33%;
        height:170px;
        margin-bottom:25px;
        float:left;
        text-align:center;
        div.image {
          height:150px;
          line-height:150px;
          margin-bottom:5px;
          img { vertical-align:middle; }
        }
      }
    }
  }
}
