<%= form_for(@movie, :html => {:multipart => true}) do |f| %>
  <%= form_errors! @movie %>

  <div class="field">
    <%= f.label :movie %>
    <%= f.file_field :movie %>
  </div>
  <div class="field">
    <%= f.label :movie_ogg %>
    <%= f.file_field :movie_ogg %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= button_tag 'Valider' %>
  </div>
<% end %>
