<div id="movie_<%= movie.id %>" class="movie">
  <div class="text">
    <div class="title"><%= movie.title %></div>
    <div class="description"><%= movie.description %></div>
  </div>
  <div class="player">
    <video id="video_<%= movie.id %>" class="video-js vjs-default-skin"
           controls preload="auto" width="320" height="180"
           data-setup='{"controls": true, "autoplay": false, "preload": "auto"}'>
      <source src="<%= movie.mp4_url() %>" type="video/mp4"/>
      <source src="<%= movie.ogg_url() %>" type="video/ogg"/>
    </video>
  </div>
  <div class="links">
    <% if admin_signed_in? %>
      <%= link_to 'Modifier', edit_movie_path(movie) %> | <%= link_to 'Supprimer', movie, :confirm => 'En êtes-vous sûre?', :method => :delete %>
    <% end %>
  </div>
</div>