<%= content_for :title do %>
  Les vidéos
<% end %>
<%= content_for :page_title do " - Les vidéos" end %>
<div id="movies">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <% if admin_signed_in? %>
          <%= link_to 'Ajouter une vidéo', new_movie_path %><br/>
        <% end %>
        <div id="text2">
          <table class="title">
            <tr>
              <td class="corner_top_left"></td>
              <td class="text" rowspan="2">
                Les vidéos
              </td>
              <td class="corner_top_right"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <div class="content_container">
            <div class="content">
              <%= render :partial => "movie", :collection => @movies %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
