Contact à partir du site l'arche de Jean Louis
===============================================

Email : <%= @contact_form.email %>
Objet : <%= @contact_form.subject %>
Texte :
<%= @contact_form.message %>