<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact à partir du site l'arche de Jean Louis</h1>
    <p>
      Email : <%= @contact_form.email %>
    </p>
    <p>
      Objet : <%= @contact_form.subject %>
    </p>
    <p>
      Texte :<br/>
      <%= @contact_form.message %>
    </p>
  </body>
</html>