#dog_trainer {
  div.content_container {
    min-height:412px;
  }
  .big {
    font-size:16px;
    font-weight:bold;
  }
  table.ten_commands {
    width:450px;
    td { vertical-align:middle; }
    img {
      margin: 5px 5px 0 0;
      vertical-align: text-bottom;
    }
  }
}