#services td.content > div {
  height:495px;
  background:top center url(/assets/services/content.png) no-repeat;
  position:relative;
  margin-top:10px;
  a {
    width:200px;
    display:block;
    position:absolute;
    text-decoration:none;
    text-align:center;
    color:#1d4437;
  }
  a img { margin-top:10px; }
  a:hover img { text-decoration:none !important; }
  a .text {
    font-size:18px;
    font-weight:bold;
  }
  a:hover .text { text-decoration:underline; }
  a.home_visit {
    top:37px;
    left:98px;
  }
  a.pet_taxi {
    top:37px;
    right:100px;
  }
  a.dog_trainer {
    top:171px;
    left:263px;
    .subtext {
      font-size:14px;
      line-height:10px;
    }
    img {
      margin-bottom:-20px;
      margin-top:5px;
    }
  }
  a.dog_walk {
    top:289px;
    left:73px;
  }
  a.dog_sitting {
    top:289px;
    right:75px;
  }
}