form {
  div.field_with_errors {
    display:inline;
    input { border:2px solid red; }
  }
  label {
    display:inline-block;
    background:url(/assets/guestbook/new/label_background.png) no-repeat;
    width:213px;
    height:38px;
    line-height:33px;
    text-indent:20px;
    margin-top:5px;
    padding-right:15px;
  }
  textarea {
    width:683px;
    height:220px;
    margin-bottom:10px;
  }
  textarea, input[type="text"],
  input[type="email"] { border:1px solid #777777; }
  div.actions {
    margin-top:15px;
    text-align:center;
  }
}