td.left_part {
  width:170px;
}
#shared_left_part {
  width:170px;
  a {
    display:block;
    width:165px;
    height:130px;
    margin-bottom:10px;
  }
  a.pictures:hover {
    background:url(/assets/shared/left_part/pictures_hover.png) no-repeat;
  }
  a.movies:hover {
    background:url(/assets/shared/left_part/movies_hover.png) no-repeat;
  }
  a.guestbook:hover {
    background:url(/assets/shared/left_part/guestbook_hover.png) no-repeat;
  }

  a.facebook {
    position:relative;
    font-weight:normal;
    .text {
      position:absolute;
      top:45px;
      left:65px;
    }
    &:hover {
      background:url(/assets/shared/left_part/facebook_hover.png) no-repeat;
      .text { text-decoration:underline; }
    }
  }
}