div.rates {
  position:relative;
  margin-top:20px;
  div.content {
    position:absolute;
    top:37px;
    left:0;
    width:650px;
    padding:0px 25px;
  }
  & > table {
    td.left {
      width:136px;
      height:94px;
      background:url(/assets/services/shared/rates_left.png) no-repeat;
    }
    td.center {
      height:94px;
      background:url(/assets/services/shared/rates_center.png) repeat-x;
    }
    td.right {
      width:24px;
      height:94px;
      background:url(/assets/services/shared/rates_right.png) no-repeat;
    }
  }
}