#text1 {
  h2 {
    padding:0;
    font-size: 53px;
    line-height: 47px;
    margin-bottom: -5px;
    text-align: center;
  }
  div.text {
    background:bottom url(/assets/shared/text_background.png) repeat-x;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:5px;
    padding-top:15px;
  }
}