#text2 {
  position:relative;
  margin-top:17px;
  &.right {
    div.image {
      right:5px;
      background:url(/assets/shared/text2/right/background_image.png) no-repeat;
      position:absolute;
      top:10px;
      width:243px;
      height:190px;
      padding-left:15px;
      padding-top:15px;
    }
    table.title td.text {
      line-height:25px;
      padding:0px 210px 15px 5px;
      text-align:left;
    }
  }
  table.title {
    width:100%;
    td { background:#034f09; }
    td.corner_top_left {
      background:url(/assets/shared/text2/corner_top_left.png) no-repeat;
      width:20px;
      height:20px;
    }
    td.text {
      color:#ffffff;
      font-size:22px;
      line-height:50px;
      height:50px;
      font-weight:bold;
      text-align:center;
    }
    td.corner_top_right {
      background:url(/assets/shared/text2/corner_top_right.png) no-repeat;
      width:20px;
      height:20px;
    }
  }
  div.content_container {
    background:url(/assets/shared/text_background.png) repeat-x;
    padding:10px;
  }
}