#messages td.content {
  a.add_message {
    display:block;
    width:280px;
    height:51px;
    line-height:50px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    margin:auto;
    background:url(/assets/guestbook/new/title_background.png) no-repeat;
  }
  & > div {
    div.list {
      background:#ffffff;
      border:2px solid #034f09;
      -webkit-border-bottom-right-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-bottomright: 20px;
      -moz-border-radius-bottomleft: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding:10px;
    }
    div.content_container { min-height:400px; }
  }
}