#new_message td.content {
  & > div {
    position:relative;
    padding-top:30px;
  }
  h1 {
    position:absolute;
    top:0px;
    left:216px;
    width:280px;
    height:51px;
    line-height:50px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    background:url(/assets/guestbook/new/title_background.png) no-repeat;
  }
  div.form {
    border:2px solid #034f09;
    padding:10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#ffffff;
  }
  label {
    display:inline-block;
    background:url(/assets/guestbook/new/label_background.png) no-repeat;
    width:213px;
    height:38px;
    line-height:33px;
    text-indent:20px;
    margin-top:15px;
    padding-right:15px;
  }
  textarea {
    width:683px;
    height:220px;
    margin-bottom:10px;
  }
  textarea,
  input[type="text"] { border:1px solid #777777 !important; }
  div.actions { text-align:center; }
}

