<div id="shared_left_part">
  <%= link_to (image_tag "shared/left_part/pictures.png"), pictures_path, :class => "pictures" %>
  <%= link_to (image_tag "shared/left_part/movies.png"), movies_path, :class => "movies" %>
  <%= link_to (image_tag "shared/left_part/guestbook.png"), messages_path, :class => "guestbook" %>
  <%= link_to (image_tag "shared/left_part/facebook.png")+raw("<span class='text'>Rejoindre</span>"), "http://www.facebook.com/#!/pages/LArche-de-Jean-Louis-Educateur-Canin-Comportementaliste-dans-le-06/362746083774450", :class => "facebook" %>
</div>