#footer {
  margin:auto;
  width:1050px;
  height:80px;
  line-height:40px;
  text-align:center;
  background:center url(/assets/layout/footer/background.png) no-repeat;
  position:relative;
  div.rabbit {
    background:url(/assets/layout/footer/rabbit.png) no-repeat;
    position:absolute;
    bottom:12px;
    left:10px;
    width:99px;
    height:106px;
  }
  a {
    color:#000000;
  }
}
