#header {
  margin:auto;
  width:1000px;
  height:450px;
  background:center url(/assets/layout/header/background.png) no-repeat;
  position:relative;
  #logout {
    position:absolute;
    right:0px;
    top:0px;
  }
  a {
    display:block;
    text-decoration:none;
    position:absolute;
    &.home {
      width:95px;
      height:100px;
      bottom:31px;
      left:54px;
      &:hover {
        background:url(/assets/layout/header/menu/home_hover.png) no-repeat;
      }
    }
    &.company {
      width:105px;
      height:105px;
      bottom:46px;
      left:172px;
      &:hover {
        background:url(/assets/layout/header/menu/company_hover.png) no-repeat;
      }
    }
    &.services {
      width:125px;
      height:95px;
      bottom:65px;
      left:331px;
      &:hover {
        background:url(/assets/layout/header/menu/services_hover.png) no-repeat;
      }
    }
    &.guestbook {
      width:135px;
      height:100px;
      bottom:65px;
      right:364px;
      &:hover {
        background:url(/assets/layout/header/menu/guestbook_hover.png) no-repeat;
      }
    }
    &.thanks {
      width:150px;
      height:100px;
      bottom:50px;
      right:186px;
      &:hover {
        background:url(/assets/layout/header/menu/thanks_hover.png) no-repeat;
      }
    }
    &.contact {
      width:95px;
      height:95px;
      bottom:32px;
      right:65px;
      &:hover {
        background:url(/assets/layout/header/menu/contact_hover.png) no-repeat;
      }
    }
  }
  div.title {
    position:absolute;
    bottom:28px;
    left:355px;
    width:300px;
    color:#ffffff;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    text-shadow:1px 1px 3px rgba(0,0,0,0.7);
  }
}