html { min-height:100%; }
body {
  width:100%;
  min-height:100%;
  margin:0;
  padding:0;
  background:#fbfdfa bottom center url(/assets/layout/background.png) repeat-x;
  font-family: "Times New Roman", "Times", serif;
  font-size: 16px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}

tr, th, td {
  vertical-align:top;
}

h2, p {
  margin:0px;
}
h2 {
  font-size:16px;
  font-weight:bold;
  padding:10px 0px;
}
a {
  color:#000000;
  font-weight:bold;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
#page {
  width:1050px;
  margin:auto;
  background:url(/assets/layout/page_background.png) 51px 210px no-repeat;
  position:relative;
}