#thanks td.content {
  & > div {
    table.title td.text { text-align:center; }
    div.content_container {
      min-height:445px;
      padding:10px;
      padding-top:20px;
    }
  }
  a.add_thank {
    display:block;
    width:280px;
    height:51px;
    line-height:50px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin:auto;
    background:url(/assets/guestbook/new/title_background.png) no-repeat;
  }
}