div.thank {
  margin-bottom:15px;
  td.image {
    width:100px;
    img {
      border:1px solid #034f09;
      background:#ffffff;
    }
  }
  div.name_job {
    font-size:14px;
    font-weight:bold;
    margin-bottom:5px;
    text-transform:uppercase;
  }
}