<%= content_for :title, "Administration" %>
<h2>Connexion</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password, "Mot de passe" %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Se souvenir de moi" %></p>
  <% end -%>

  <p><%= f.submit "Se connecter" %></p>
<% end %>
<br/>