<%= form_for(@picture, :html => { :multipart => true }) do |f| %>
  <%= form_errors! @picture %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= button_tag 'Valider' %>
  </div>
<% end %>
