<%= content_for :title do %>
  Les photos
<% end %>
<%= content_for :page_title do " - Les photos"+(params[:page] ? " - Page #{params[:page]}":"") end %>
<div id="pictures">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <% if admin_signed_in? %>
          <%= link_to 'Ajouter une image', new_picture_path %><br/>
        <% end %>
        <div id="text2">
          <div id="search">
            Recherchez votre animal
            <%= search_form_for @q do |f| %>
              <%= f.text_field :title_cont %><a href="#" onclick="document.forms['picture_search'].submit();">&nbsp;</a>
            <% end %>
          </div>
          <table class="title">
            <tr>
              <td class="corner_top_left"></td>
              <td class="text" rowspan="2">
                Les photos de mon activité
              </td>
              <td class="corner_top_right"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <div class="content_container">
            <div class="content">
              <% @pictures.each do |picture| %>
                <div class="picture" id="picture_<%= picture.id %>">
                  <div class="image">
                    <%= link_to image_tag(picture.image.url(:small)), picture.image.url(:large), :class => "lightbox" %>
                  </div>
                  <%= picture.title %>
                  <% if admin_signed_in? %>
                    <div class="links">
                      <%= link_to 'Modifier', edit_picture_path(picture) %> |
                      <%= link_to 'Supprimer', picture, :confirm => 'En êtes-vous sûre?', :method => :delete %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <div style="clear:both"></div>
            </div>
            <%= paginate @pictures %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  $('a.lightbox').lightBox();
</script>