div.movie {
  margin-bottom:15px;
  div.text {
    float:left;
    width:350px;
    div.title {
        height:30px;
        font-weight:bold;
    }
    div.description { height:180px; }
  }
  div.player {
    float:right;
    width:320px;
    height:170px;
  }
  div.links { clear:both; }
}
