#contact {
  div.content_container {
     div.infos {
      margin-bottom:15px;
      & > div {
        float:left;
        &.letters {
          width:35%;
          img { margin-bottom:10px; }
        }
        &.phone {
          padding-left:3%;
          width:28%;
        }
        &.form {
          width:30%;
          padding-left:3%;
          img { margin-right:-20px; }
        }
        div { height:25px; }
      }
      & div.clear {
        float:none;
        clear:both;
      }
     }
     form {
      background:#d9e7d8;
      padding:10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      h2 {
        margin-top:0px;
        font-size:22px;
      }
      #contact_form_success {
        color:#034f09;
        margin-bottom:10px;
      }
      textarea { height:150px; }
    }
  }
}