<%= form_for(@thank, :html => { :multipart => true }) do |f| %>
  <%= form_errors! @thank %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :job %>
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :content %><br/>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= button_tag 'Valider' %>
  </div>
<% end %>
