<div id="thank_<%= thank.id %>" class="thank">
  <table>
    <tr>
      <td class="image">
        <%= image_tag thank.picture.url(:small) %>
      </td>
      <td>
        <div class="name_job"><%= thank.name %> / <%= thank.job %></div>
        <%= thank.content.gsub("\n", "<br/>").html_safe %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= link_to 'Modifier', edit_thank_path(thank) %> |
        <%= link_to 'Supprimer', thank, :confirm => 'En êtes-vous sûre?', :method => :delete %>
      </td>
    </tr>
  </table>
</div>