<%
  title = "Les remerciements"
  content_for :title, title
  content_for :page_title, " - "+title
%>
<div id="thanks">
  <table>
    <tr>
      <td class="left_part">
        <%= render :partial => "/shared/left_part" %>
      </td>
      <td class="content">
        <div>
          <% if admin_signed_in? %>
            <%= link_to "Ajouter un remerciement", new_thank_path %><br/>
          <% end %>
          <div id="text2">
            <table class="title">
              <tr>
                <td class="corner_top_left"></td>
                <td class="text" rowspan="2" >
                  Merci pour leur collaboration
                </td>
                <td class="corner_top_right"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <div class="content_container">
              <%= render :partial => "thank", :collection => @thanks %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>